@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  margin: 0 0;
  background-color: #9D3BF2;
  background-image: url(imagens/fundofrase.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;  
}

.logoLogin {
  margin: 0 auto;
  width: 100%;
}

.login {
  position: relative;
  left: 35%;
  background-color: #fff;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 40px;
  padding-bottom: 40px;
  margin-top: 1%;
  margin-bottom: 10%;
  width: 25%;
  min-width: 200px;
  font-size: 18px;
  border-radius: 15px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.inputLabel, .icon {
  vertical-align: middle;
}

label {
  margin: 20px 0;
  color: rgb(131, 131, 131);
}

.icon {
  opacity: 0.3;
  width: 20px;
}

button {
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.btn-rosa {
  background-color: #E96EFA;
  color: #fff;
}

.btn-rosa:hover {
  background-color: #cb5dda;
}

.btn-medio {
  font-size: 18px;
}

.btn-grande {
  font-size: 22px;
}

.esqueceu {
  background-color: #fff;
}

.esqueceu:hover {
  text-decoration: underline;
}

input {
  padding-bottom: 5px;
  font-family: 'Montserrat', sans-serif;  
  font-size: 18px;
  border: none; 
  border-bottom: solid 1px rgba(0,0,0,.1); 
  margin: 10px 0 20px 0;
  width: 90%;
}

input:focus {
  border-bottom: solid 1px; 
  outline: 0; 
  box-shadow: 0 2px 6px -8px;
  border-bottom:  solid 1px rgba(0,0,0,.1); 
}

h4 {
  font-size: 18px;
  color: rgb(82, 82, 82);
}

.schlop {
  font-weight: bold;
  color: #8807F8;
}

h5 {
  font-size: 14px;
  margin-bottom: 20px;
  color: rgb(82, 82, 82);
}

.h5-top {
  margin-top: 50px;
}

.footer-bottom {
  background-color: #78DEC8;
  text-align: center;
  height: 30%;
  width: 100%;
  margin: 0 auto; 
  padding: 20px 0;
}

.footer-bottom label {
  color: #000;
}