@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body { 
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;  
  background:#fff ;
  overflow-x: hidden;
  margin: 0;
}

button {
  font-family: 'Montserrat', sans-serif;  
  cursor: pointer;
}

a {
  cursor: pointer;
}

input {
  font-family: 'Montserrat', sans-serif;  
}

.header {
  height: 20%;
  background-color: #fff;
}

.logo {
  position: relative;
  width: 25%;
  min-width: 300px;
}

.icone{
  width: 20px;
  margin-right: 10px;
}

.icone-editar {
  width: 30px;
}

.sair {
  font-size: 18px;
  float: right;
  width: 10%;
  height: 30px;
  margin: 10px 30px;
  border: none;
}

.verde {
  color: #fff;
  background-color: #78DEC7;
  border-radius: 5px;
}

.verde:hover {
  filter: none; 
  background-color: #5cbea7;
}

.nav {
  text-align: center;
  background-color: #9D3BF2;
  width: 100%;
}

.btn-nav {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50px;
  border: none;
  background-color: #9D3BF2;
  color: #fff;
  font-size: 25px;
}

.btn-nav:hover {
  background-color: #c787f8;
}

.btn-atual {
  background-color: #7004cf;
}

.container {
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
  min-width: 800px;
  background-color: #fff;
}

.bg-container {
  background-image: url(imagens/fundoespelhado.jpg);
  width: 100%;
  height: 100%;
  margin: 0;
}

.absoluto {
  position: absolute;
}

.container label{
  margin: 20px auto;
  display: block;
  text-align: center;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

.content {
  margin: 50px 50px 0 50px;
}

.content .form-content {
  margin-bottom: 20px;
  font-size: 18px;
}

.content label {
  display:inline-block;
  margin-bottom: 15px;
  margin-right: 10px;
}

.content input{
  padding: 5px 10px;
  width: 50%;
  font-size: 18px;
}

input.date-input {
  width: 15%;
  min-width: 180px;
}

input.senha-input {
  width: 30%;
}

button.btn-content {
  background: none;
  color: #8807F8;
  padding: 5px 10px;
  font-size: 16px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button.btn-content:hover {
  cursor: pointer;
  background-color: #c787f8;
}

.btn-last button {
  margin: 50px;
  padding: 10px 30px;
  height: 40px;
  background-color: #9D3BF2;
  color: #fff;
  font-size: 20px;
  border-radius: 6px;
  border: none;
}

.btn-last button:hover {
  background-color: #c787f8;
}

.btn-editar {
  margin: 0 auto;
  padding: 15px 30px;
  float: right;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  margin: 1%;
  box-sizing: border-box;
  background-color: #9D3BF2;
  color: #fff;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.card:hover {
  background-color: #c787f8;
}

.pesquisarPet {
  margin: 0 20px 20px 20px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #9D3BF2;
  color: #fff;
  border-radius: 6px;
  border: none;
}

.pesquisarPet:hover {
  background-color: #c787f8;
}

.pesquisarPet-input {
  font-size: 18px;
  padding: 5px;
  width: 20%;
}

.table {
  width: 100%;
  margin: 40px 15px;
}

.table-header, .table-line {
  width: 100%;
}

.col {
  background-color: #fff;
  height: 50px;
  padding-top: 15px;
  float: left;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  width: 24%;
}

.col1:hover {
  cursor: pointer;
  background-color: #c787f8;
}

.col2 {
  width: 14%;
}

.col4 {
  width: 24%;
}

.coluna-editar{
  width: 10%;
  margin-right: 20px;
  float: right;
}

.coluna-editar button{
  font-size: 18px;
  line-height: 30px;
  padding: 10px 25px 10px 25px;
  margin-bottom: 8px;
  background-color: #9D3BF2;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.coluna-editar button:hover {
  cursor: pointer;
  background-color: #c787f8;
}

.esconder {
  display: none;
}

.content-pet input {
  width: 20%;
}

.content input.peso-input {
  width: 10%;
  min-width: 100px
}

select{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;  
  padding: 5px;
}

.excluir {
  float: right;
  color: #ac0000;
  border: none;
  background: none;
}

button.excluir:hover {
  border-radius: 5px;
  background: #fff;
}

.card-relatorio {
  width: 100%;
  background-color: #ccc;
  margin: 1% 2%;
  padding: 2%;
  text-align: center;
}

.width-50 {
  width: 42%;
  float: left;
}

.width-25 {
  width: 25%;
  float: left;
}

.bebedouros {
  width: 100%;
  margin: 2%;
  padding: 1%;
  background-color: #ccc;
}