@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Montserrat&family=Zen+Maru+Gothic&display=swap');

body {
  background-color: #9D3BF2;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;  

}

.div-texto {
  position: absolute;
  width: 30%;
  color: white;
  text-align: center;
  top: 30%;
  left: 10%;
}